node_modules/
dist/
data/
*.tsbuildinfo
.DS_Store

# artefatos de cobertura
coverage/
.vitest/

# Nx e os artefatos por projeto
.nx/
**/dist/
**/out-tsc/
**/coverage/
**/test-output/
.e2e/
tmp
target/
playwright-report/
blob-report/
.playwright/
