**/src/main/resources/db/migration/**

*.md

apps/web/src/gql/
apps/web-e2e/src/gql/
apps/web/schema.graphql
schema.graphql
sst-env.d.ts
apps/web/next-env.d.ts

**/target/
**/.next/
**/.open-next/
**/dist/
infra/dist/
.sst/
.nx/
node_modules/
pnpm-lock.yaml
